rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create, read, update, delete:
      	if request.auth != null && request.auth.uid == userId;
    }
    match /{userId}/{documents=**} {
      allow create, update, delete:
      	if request.auth != null && request.auth.uid == userId;
      allow read:
      	if request.auth != null;
    }
  }
}
